.controls {
  border: 1px solid #ddd;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

.controls__input-group {
  display: table-row;
  vertical-align: middle;
}

.controls__label {
  width: 7rem;
  display: table-cell;
}

.controls__input {
  margin: 0.5rem;
}

.controls__generate-calendar {
  width: 18.5rem;
}

.calendar-canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.calendar-canvas table {
  height: 260px;
}

td {
  text-align: center;
  line-height: 1.75rem;
  width: 1.75rem;
}

thead td {
  font-size: .75rem;
  text-transform: uppercase;
}

tbody td {
  font-size: .875rem;
  background: #62b37f
}

td.before,
td.after {
  color: gray;
  background: gray
}
.weekend{
  background: #ff0;
  color: #333;
}